<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dunmow.meng.pechhulp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controllers.SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controllers.MainActivity"
            android:theme="@style/AppTheme" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity
            android:name=".controllers.MapsActivity"
            android:label="@string/activity_maps"
            android:parentActivityName=".controllers.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".controllers.InfoActivity"
            android:label="@string/activity_info"
            android:parentActivityName=".controllers.MainActivity"
            android:theme="@style/AppTheme" />

    </application>

</manifest>